<% content_for :title, "#{@user.name}'s - Blog" %>
<section class="user-details-section">
  <%= render "user", user: @user %>
  <div class="bio">
    <h3>Bio<h3>
    <p class='bio-desc'><%= @user.bio %></p>
  </div>

  <% @user.recent_three.each do |post| %>
    <%= link_to user_post_path(@user, post) do %>
      <%= render "posts/post", post: post %>
    <% end %>
  <% end %>
  
  <%= link_to user_posts_path(@user), class: 'self-center' do %>
    <button type="button" class="see-all-posts">See all posts</button>
  <% end %>
</section>