<div class='container'>
<div class='border'>
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Email@gmail.com', class:'text-input form-control form-control-lg' %>
    <br/>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder:'Password', class:'text-input form-control form-control-lg' %>
    <br/>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class:'form-check-input' %>
      <br/>
      <%= f.label :remember_me %>
      <br/>
    </div>
  <% end %> 

  <div class="actions">
    <%= f.submit "Log in", class:'btn btn-outline-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>