<div class="user-post">
  <div class="title">
    <h3> <%= post.title %> by <%= post.author.name %> </h3>
    <aside class="counter-section">
      <span>Comments: <%= post.comments_counter %></span>
      <span>Likes: <%= post.likes_counter %></span>
      <aside>
      </div>
      <div class = "post-like-section">
        <%= post.text %>
               <% if user_signed_in?  %>
    <div class="button-section">
    <%= button_to "Add Like", like_path(@user, @post), class: "button button-text button-pink", 'data-ripple-light': true, method: :post %>
    <% if can? :destroy, @post %>
      <%= button_to "Delete Post", user_post_path, method: :delete, class: "m-3 p-1 button-gradient text-lg text-white bg-gray-700 border hover:text-gray-700 hover:border-gray-700 hover:bg-transparent", 'data-ripple-light': true %>
    <% end %>
    </div>
  <% else %>
  <%= button_to "Add Like", new_user_session_url, class: "bg-red-400", class: "button button-text button-pink", 'data-ripple-light': true, method: :get %>
          <br/>
        <%end%>
      </div>
    </div>
