<div class="user-post">
  <div class="title">
    <h3> <%= post.title %> by <%= post.author.name %> </h3>
    <aside class="counter-section">
      <span>Comments: <%= post.comments_counter %></span>
      <span>Likes: <%= post.likes_counter %></span>
      <aside>
      </div>
      <div class = "post-like-section">
        <%= post.text %>
        <%= form_with model: @like, url: like_path, method: :post do |f|%>
        <br/>
        <div class= "container">
          <%= f.submit "Like", class: "btn btn-outline-success"%>
          </div>
          <br/>
        <%end%>
      </div>
    </div>
