<%= content_for :title, "#{@user.name} | #{@post.title}"%>
<%= render "user_post", post:@post %>
<div class="post-comments">
  <% @post.comments.each do |comment| %>
    <div class="post-comment">
      <p>
        <span><strong><%= comment.author.name %>:</strong></span>
        <span><%= comment.text %></span>
      </p>
    </div>
  <% end %>
</div>
<div class="container">
<%= form_with model: @comment, url:post_path, method: :post, scope: :comment do |f|
%>
<div class="comment-section">
<%= f.text_area :text, placeholder: "Add Comment", class:'form-control' %>
<br/>
<%= f.submit "Comment", class:'btn btn-primary' %>
</div>
</div>
<% end %>