<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="nav-bar">
      <%= link_to 'HOME', root_path, class: 'mr-8' %>
      <%= link_to 'BACK', 'javascript:history.back()' %>
    </div>
    <%= yield %>
  </body>
</html>
