<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
  <div class="nav-bar">
     <%= link_to "HOME", users_path, class: "mr-8" %> 
     <div class="button-section"> 
     <% if current_user %> 
     <h4>Welcome: <%= current_user.name %></h4> 
     <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
     <% else %>
      <h4 class="quest_user"> Hi, Guest User</h4>
     <% end %>
      <%= link_to "BACK", "javascript:history.back()", class:'btn btn-outline-primary' %> 
     </div> 
    </div> 
    <div class="container"> 
     <p class="notice"><%= notice %></p> 
     <p class="alert"><%= alert %></p> 
    </div> 
    <%= yield %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
